
.App {
  display: flex;
  flex-direction: column;
}




/* NAV PART --------------------------------------------- */
nav{
}
/* ------------------------------------------------------- */





/* MAIN PART --------------------------------------------- */
main {
  display: flex;
  flex-direction: column;
}
  /* CANVAS CHILD --------------------------------------------- */
  .rectangle {
    width: 85%;
    height: 300px;
    border: 3px solid aliceblue;
    border-radius: 10px;
    margin: 2% auto; /* To center horiz. */ 
  }
  #render-canvas {
    border-radius: 5px;
  }
  /* ------------------------------------------------------- */

  .testingFlex{
    font-size: 28px;
    text-align: center;
  }

  @keyframes dotAnimation {
    0% {
      content: "Hello!";
    }
    29%{
      content: "Hello! ";
    }
    30%{
      content: "Hello, I";
    }
    30.5%{
      content: "Hello, I a";
    }
    31%{
      content: "Hello, I am";
    }
    35% {
      content: "Hello, I am F";
    }
    35.5% {
      content: "Hello, I am Fl";
    }
    36% {
      content: "Hello, I am Fla";
    }
    36.5% {
      content: "Hello, I am Flav";
    }
    37% {
      content: "Hello, I am Flavi";
    }
    37.5% {
      content: "Hello, I am Flavio";
    }
    38% {
      content: "Hello, I am Flavio!";
    }
  }
  
  .testingFlex h1::after {
    animation: dotAnimation 10s forwards;
    content: "Hello, I am Flavio!";
  } 
/* ------------------------------------------------------- */




footer {
}
/* ------------------------------------------------------- */